* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 14px;
}

main {
    min-height: 80vh;
    background-color: rgba(0, 0, 0, 0.952);
    color: #000000;
    position: relative;
}

.main::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/wave-1817646_1920 (1).png');
}

.nav {
    background-color: cyan;
    overflow: auto;
    padding: 0 5%;
}

.main_navigation {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    height: 70px;
    float: right;
}

.main_navigation li {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    margin: 10px 0;
    min-width: 100px;
    padding: 10px;
    background-color: cyan;
}

.main_navigation li:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0)
    display: block;
    width: 20px;
    max-width: 20px;
    height: 3px;
    background-color: green;
}

.main_titles {
    position: absolute;
    top: 50%,
    left: 200px;
    transform: translate(0 -50%)
}

.main_titles h3 {
    font-weight: 300;
    font-size: 30px;
}

.main_titles h1 {
    font-weight: 800;
    font-size: 50px;
}